.title{
    text-align: center;
}
.img-car{
    max-height: 500px;
    max-width: 1000px;
    margin: auto;
    display: flex;
}
.carousel-inner{
    color: black;
}
.purpose{
    text-align:justify;
    margin: auto;
    max-height: 500px;
    max-width: 1000px;
    display: flex !important; 
    align-items: center !important;
    justify-content: center !important; 
    flex-wrap:wrap;
}
.legend{
    background-color: transparent!important;
    color: black !important;
}
.redirect{
    background-color: #555555; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: auto;
    display: flex;
}

.car{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}