.flex-container {
    display: flex;
    flex-grow: 1;
    margin-bottom: 50px;
} 
#covid_info h2 {
    text-align: center;
}
#ci_button {
    background-color: #448bc5; 
    border: 2px black;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
}
.space_between {
    display: flex;
    width: 100%;
    margin: 10px;
    justify-content: space-between;
}
.data {
    background-color:#F9DF84; 
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}
.format_ci {
    margin: 10px;
    flex-grow: 1;
}
.p_left_ci {
    text-align: left;
}
#margin,#margin2  {
    background-color: #448bc5; 
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 60px;
    padding-right: 22px;
    display:inline-block;
    width:300px;
    height:auto;
}

#nav {
    background-color: black;
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    float: left;
    text-align: center;
}
#nav li {
    display: inline;
    padding: 15px;
    float: left; 
}
#nav a {
    color: white;
    text-decoration: none;
}