.flex-container {
    display: flex;
    flex-grow: 1;
    margin-bottom: 50px;  
}  
#fav_locations h2 {
    text-align: center;
}
.favorites {
    width: 100%;
    border: 2px solid black;
    overflow: hidden;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 18px;
}
