  .HomeCSS section {
    border: 1px solid red;
    display: flex;
    padding: 20px;
  }
  
  .HomeCSS article {
    flex: auto;
    border: 1px dotted green;
    margin: 20px;
    padding: 20px;
  }
  
  @media screen and (min-width: 601px) {
    div {
      font-size: 20px;
    }
  }
  .HomeCSS{
    font-size:2vw !important;
   

  }
  .container-iframe{
 
  
  }
  .responsive-iframe{   
    padding-bottom: -10%;
  
 
 
 
 
   }
  .HomeCSS h1 {
    display: block;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
  }
  .HomeCSS iframe{
 
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
 
  }
 

.inputs,.input-field, .drop-down{
    width: 50%;
 
    margin: 8px 0;
 
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    height:50px;
    font-size:14pt;
 
    

  }
  .drop-down{
    border-color: black !important;
    height:40px;
    position: absolute;
    size: 0pc;
  }
 
  label.check {
    display: inline-block;
    display: block;

  }
.HomeCSS img{
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 