  .TeamCSS section {
    border: 1px solid white;
    padding: 20px;
  }
  
  .TeamCSS h1 {
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
 
  }
.TeamCSS{
    display:flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
}


.TeamCSS img{
    height: 10%;
    width: 10%;  
} 





