.title{
    text-align: center;
}
 img{


    max-height: 500px;
    max-width: 1000px;
    margin: auto;
}
.carousel-inner{
    color: black;
}
.purpose{
    text-align: center;
    margin: auto;
    max-height: 500px;
    max-width: 1000px;
}
.media, h2, iframe{
    text-align: center;
    margin: auto;
    max-height: 500px;
    max-width: 1000px;
}