.flex-container {
    display: flex;
    flex-grow: 1;
    margin-bottom: 50px;
}  
#flight_info p {
    padding: 15px;
}
#travel_p {
    border: 2px solid black;
    padding: 15px;
}
#to_from_fi {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
}
.fi_button {
    background-color: #448bc5; 
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#travel_req {
    width: 100%;
    margin: auto;
}
.flights {
    width: 100%;
    border: 2px solid black;
    margin-bottom: 15px;
    padding: 15px;
}
#nav {
    background-color: black;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    float: left;
    text-align: center;
}
#nav li {
    display: inline;
    padding: 15px;
    float: left; 
}
#nav a {
    color: white;
    text-decoration: none;
}