#top_locations h2 {
    text-align: center;
}
#to_sort {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    justify-content: space-between;
}
.button {
    background-color: #448bc5; 
    border: none;
    color: white;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#top_locations select {
    background-color: black;
    color: white;
    padding: 15px;
    margin: 5px;
    font-size: 18px;
}
#nav {
    background-color: black;
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    float: left;
    text-align: center;
}
#nav li {
    display: inline;
    padding: 15px;
    float: left; 
}
#nav a {
    color: white;
    text-decoration: none;
}